@{
    ViewData["Title"] = "About";
}

<div class="tm-main-content" id="top">
        <div class="details">
            <div class="container text-center">
                <h2>About us</h2>
                <hr>
            </div>
        </div>


        <div id="about">
            <div class="container">
                <div class="row about-wrapper m-0">
                    <div class="col-xs-12 col-md-6 d-none d-md-block about-img"> </div>
                    <div class="col-xs-12 col-md-4 col-md-offset-1" style="margin-left: 6.33333333%;">
                        <div class="about-text">
                            <div class="section-title">
                                <h2>Our Story</h2>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare
                                diam.
                                Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec
                                ornare diam
                                commodo nibh.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare
                                diam.
                                Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec
                                ornare.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tm-section-2">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <h2 class="tm-section-title">We are here to help you</h2>
                        <p class="tm-color-white tm-section-subtitle">Subscribe to get our newsletters</p>
                        <form class=" tm-search-form tm-section-pad-2">
                            <div class="justify-content-center form-row">
                                <div class="col-9">
                                    <div class="row justify-content-center">
                                        <div class="col-sm-8 form-group tm-form-element tm-form-element-100">
                                            <i class="fa fa-2x fa-user tm-form-element-icon"></i>
                                            <input name="email" type="email" class="form-control" id="inputCity"
                                                placeholder="Type your Email Address">
                                        </div>

                                        <div class="col-sm-4 form-group tm-form-element tm-form-element-100">
                                            <a href="#" class="tm-color-white tm-btn-white-bordered">Subscribe
                                                Newletters</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>

        <footer class="tm-bg-dark-blue">
            <div class="container">
                <div class="row">
                    <p class="col-sm-12 text-center tm-font-light tm-color-white p-4 tm-margin-b-0">
                        Copyright &copy; <span class="tm-current-year">2022</span> HMS</p>
                </div>
            </div>
        </footer>
    </div>