@{
    ViewData["Title"] = "FAQs";
}

<div class="tm-main-content" id="top">
        <div class="details">
            <div class="container text-center">
                <h2>FAQ</h2>
                <hr>
            </div>

            <div class="container mt-4">
                <ul class="nav nav-tabs nav-justified" id="custom-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="customer-tab" data-toggle="tab" href="#customer" role="tab"
                            aria-controls="customer" aria-selected="true">
                            <span>
                                For Customer
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="service-provider-tab" data-toggle="tab" href="#service-provider"
                            role="tab" aria-controls="service-provider" aria-selected="true">
                            <span>
                                For Staff
                            </span>
                        </a>
                    </li>
                </ul>

                <div class="tab-content mt-4" id="faq-tab">
                    <div class="tab-pane fade show active" id="customer" role="tabpanel" aria-labelledby="customer-tab">

                        <div class="all-faqs-wrapper">
                            <a class="faqs" data-toggle="collapse" href="#faq1" role="button" aria-expanded="false"
                                aria-controls="faq1">
                                <img src="~/img/right-arrow.png">
                                <span>
                                    How do I create a booking through HMS?
                                </span>
                            </a>

                            <div class="collapse" id="faq1">
                                <div class="faqs-content">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quidem
                                    laboriosam.
                                </div>
                            </div>
                        </div>

                        <div class="all-faqs-wrapper">
                            <a class="faqs" data-toggle="collapse" href="#faq2" role="button" aria-expanded="false"
                                aria-controls="faq2">
                                <img src="~/img/right-arrow.png">
                                <span>
                                    How do I check the status of my current Bookings?
                                </span>
                            </a>

                            <div class="collapse" id="faq2">
                                <div class="faqs-content">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto sed repellat, dicta
                                    atque quisquam illum inventore adipisci repudiandae consequuntur ipsam quidem, nihil
                                    itaque earum neque maxime dolores porro soluta praesentium.
                                </div>
                            </div>
                        </div>

                        <div class="all-faqs-wrapper">
                            <a class="faqs" data-toggle="collapse" href="#faq3" role="button" aria-expanded="false"
                                aria-controls="faq3">
                                <img src="~/img/right-arrow.png">
                                <span>
                                    How can I find the best deals available?
                                </span>
                            </a>

                            <div class="collapse" id="faq3">
                                <div class="faqs-content">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo et maxime eos enim.
                                    Distinctio provident commodi voluptatibus cupiditate ipsa minus ea debitis,
                                    accusamus similique iste obcaecati expedita in quos sit!
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="service-provider" role="tabpanel"
                        aria-labelledby="service-provider-tab">

                        <div class="all-faqs-wrapper">
                            <a class="faqs" data-toggle="collapse" href="#serfaq1" role="button" aria-expanded="false"
                                aria-controls="serfaq1">
                                <img src="~/img/right-arrow.png">
                                <span>
                                    How much do Staff earn?
                                </span>
                            </a>

                            <div class="collapse" id="serfaq1">
                                <div class="faqs-content">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis dolores culpa
                                    nemo ea illum dolorum nam atque ad nihil numquam cum harum iure dolorem suscipit
                                    corrupti corporis doloribus, perspiciatis neque.
                                </div>
                            </div>
                        </div>

                        <div class="all-faqs-wrapper">
                            <a class="faqs" data-toggle="collapse" href="#serfaq2" role="button" aria-expanded="false"
                                aria-controls="serfaq2">
                                <img src="~/img/right-arrow.png">
                                <span>
                                    What support do you provide to the Staff?
                                </span>
                            </a>

                            <div class="collapse" id="serfaq2">
                                <div class="faqs-content">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat aliquid, et maxime
                                    ex deleniti facere exercitationem iusto consequuntur sint velit ab porro a sequi,
                                    autem quia obcaecati id ducimus dolor?
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>



        <div class="tm-section-2">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <h2 class="tm-section-title">We are here to help you</h2>
                        <p class="tm-color-white tm-section-subtitle">Subscribe to get our newsletters</p>
                        <form class=" tm-search-form tm-section-pad-2">
                            <div class="justify-content-center form-row">
                                <div class="col-9">
                                    <div class="row justify-content-center">
                                        <div class="col-sm-8 form-group tm-form-element tm-form-element-100">
                                            <i class="fa fa-2x fa-user tm-form-element-icon"></i>
                                            <input name="email" type="email" class="form-control" id="inputCity"
                                                placeholder="Type your Email Address">
                                        </div>

                                        <div class="col-sm-4 form-group tm-form-element tm-form-element-100">
                                            <a href="#" class="tm-color-white tm-btn-white-bordered">Subscribe
                                                Newletters</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>

        <footer class="tm-bg-dark-blue">
            <div class="container">
                <div class="row">
                    <p class="col-sm-12 text-center tm-font-light tm-color-white p-4 tm-margin-b-0">
                        Copyright &copy; <span class="tm-current-year">2022</span> HMS</p>
                </div>
            </div>
        </footer>
    </div>