@{
    ViewData["Title"] = "Services";
}

<div class="tm-main-content" id="top">
        <div id="features" class="text-center">
            <div class="container">
                <div class="section-title">
                    <h2>Our Specials</h2>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-xl-4 text-center">
                        <div class="features-item">
                            <h3>Lorem ipsum dolor</h3>
                            <img src="~/img/img2.jpg" class="img-responsive" alt="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare
                                diam sed
                                commodo.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-4 text-center">
                        <div class="features-item">
                            <h3>Consectetur adipiscing</h3>
                            <img src="~/img/img3.jpg" class="img-responsive" alt="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare
                                diam sed
                                commodo.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-4 text-center">
                        <div class="features-item">
                            <h3>Duis sed dapibus</h3>
                            <img src="~/img/img-01.jpg" class="img-responsive" alt="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare
                                diam sed
                                commodo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="services-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="services">
                            <span><i class="fa fa-2x fa-map-marker tm-form-element-icon"></i></span>
                            <div class="desc">
                                <h3>Accessible Location</h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                    Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right
                                    at the coast of the Semantics, a large language ocean.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="services">
                            <span><i class="fa fa-2x fa-clock-o tm-form-element-icon"></i></span>
                            <div class="desc">
                                <h3>Open 24/7</h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                    Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right
                                    at the coast of the Semantics, a large language ocean.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="services">
                            <span><i class="fa fa-2x fa-calendar tm-form-element-icon"></i></span>
                            <div class="desc">
                                <h3>Reservation</h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                    Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right
                                    at the coast of the Semantics, a large language ocean.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="services">
                            <span><i class="fa fa-2x fa-user tm-form-element-icon"></i></span>
                            <div class="desc">
                                <h3>Friendly Staff</h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                    Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right
                                    at the coast of the Semantics, a large language ocean.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="services">
                            <span><i class="fa fa-2x fa-signal tm-form-element-icon"></i></span>
                            <div class="desc">
                                <h3>Affordable Price</h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                    Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right
                                    at the coast of the Semantics, a large language ocean.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tm-section-2">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <h2 class="tm-section-title">We are here to help you</h2>
                        <p class="tm-color-white tm-section-subtitle">Subscribe to get our newsletters</p>
                        <form class=" tm-search-form tm-section-pad-2">
                            <div class="justify-content-center form-row">
                                <div class="col-9">
                                    <div class="row justify-content-center">
                                        <div class="col-sm-8 form-group tm-form-element tm-form-element-100">
                                            <i class="fa fa-2x fa-user tm-form-element-icon"></i>
                                            <input name="email" type="email" class="form-control" id="inputCity"
                                                placeholder="Type your Email Address">
                                        </div>

                                        <div class="col-sm-4 form-group tm-form-element tm-form-element-100">
                                            <a href="#" class="tm-color-white tm-btn-white-bordered">Subscribe
                                                Newletters</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>

        <footer class="tm-bg-dark-blue">
            <div class="container">
                <div class="row">
                    <p class="col-sm-12 text-center tm-font-light tm-color-white p-4 tm-margin-b-0">
                        Copyright &copy; <span class="tm-current-year">2022</span> HMS</p>
                </div>
            </div>
        </footer>
    </div>